
body {
  font-family: 'Roboto', sans-serif;
}

.deleted {
  color: red;
}
#menusColumn, .categories, .items {
  border-right: 1px solid black;

}

#newItemForm,#hideItemForm,#showAllMenus,#newMenuForm {
  display: none;
}

span {
  display: inline-block;
}

#newMenuForm, .th {
  text-align: center;
}

#newMenuForm ul {
  text-align: left;
}


.item, .categoryItem {
  display: block;
}

.editItem, .deleteItem, .deleteCategory, .editCategory, .deleteMenu, .editMenu, .addItemToMenu, .removeItemFromMenu, .addItemToEditMenu  {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.printAndPreviewColumn {
  display: none;
}

.float-left{
  float: left;
  margin-left: 75px;
}
