
.header{
  background-image: url("./images/Header1.png");
  width: 100%;
  height: 164px;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("./images/Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deleted {
  color: red;
}
#menusColumn, .categories, .items {
  border-right: 1px solid black;

}

#newItemForm,#hideItemForm,#showAllMenus,#newMenuForm {
  display: none;
}

span {
  display: inline-block;
}

#newMenuForm, .th {
  text-align: center;
}

#newMenuForm ul {
  text-align: left;
}


.item, .categoryItem {
  display: block;
}

.editItem, .deleteItem, .deleteCategory, .editCategory, .deleteMenu, .editMenu, .addItemToMenu, .removeItemFromMenu, .addItemToEditMenu  {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.printAndPreviewColumn {
  display: none;
}

.float-left{
  float: left;
  margin-left: 75px;
}

a:link, a:visited {
  color: grey;
  text-decoration: none;
}

#itemsList a:link, a:visited {
  font-size: 14px;
}

#categoriesList, #menusList {
  line-height: 150%;
  list-style: none;

}
