table.dishTable {
  border: 4px solid #9bf2b7;
  background-color: #B7BAB2;
  width: 400px;
  text-align: center;
  border-collapse: collapse;
}
table.dishTable th {
  border: 1px solid #555555;
  padding: 4px 4px;
}
table.dishTable tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}

table.dishTable td.dishCategory{
  color: #06240e;
  font-size: 16px;

}
