table.itemTable {
  border: 4px solid #9bf2b7;
  background-color: #B7BAB2;
  width: 425px;
  text-align: center;
  border-collapse: collapse;
}
table.itemTable th {
  border: 1px solid #555555;
  padding: 4px 4px;
}
table.itemTable tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}

table.itemTable td.itemCategory{
  color: #06240e;
  font-size: 16px;

}

.deleted {
  color: red;
}

a.itemCategoryLink {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#newItemForm {
  display: none;
}
