

.deleted {
  color: red;
}


#newItemForm,#hideItemForm,#showAllMenus,#newMenuForm {
  display: none;
}

span {
  display: inline-block;
}

#newMenuForm {
  text-align: center;
}

#newMenuForm ul {
  text-align: left;
}
